.basic-card .ant-typography:first-of-type {
    margin-top: -4px;
    margin-bottom: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container.ant-btn,
.ant-btn {
    padding: 0px;
}

.home-title .ant-typography {
    margin-top: 0vh;
    margin-bottom: 1vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

.main-layout {
    font-size: 16px !important;
}

:root {
    .ant-btn {
        background: var(--card-light);
    }
}

:root.theme-dark{
    .ant-btn {
        background: var(--card-dark);
    }
}

@media (prefers-color-scheme: dark) {
    :root:not(.theme-light) {
        .ant-btn{
            background: var(--card-dark);
        }
    }
}
