@import "@/styles/custom.ant.scss";
@import "@/styles/_themify.scss";
@import "@/styles/animations.css";

@import "@/styles/github-markdown-light.css";
@import "@/styles/github-markdown-dark.css";

/* root */
@mixin light{
    --primary-bg-color: #fff;
    --secondary-bg-color: #d5e8ff;
    --primary-border-color: #ddd;
    --box-shadow-color: #dddddd;
    --primary-text-color: black;
    --secondary-text-color: #292929;
    --scrollbar-bg-color: #ccc;
    --scrollbar-color: #aaa;
    --sjtu-red-color: #af3741;
    --suesmc-blue-color: #31519d;
    --light-visible: 1;
    --dark-visible: 0;
}

@mixin dark {
    --primary-bg-color: #101614;
    --secondary-bg-color:#11211e;
    --primary-border-color:#11211e;
    --box-shadow-color:#0e243b;
    --primary-text-color:white;
    --secondary-text-color:#bbbbbb;
    --scrollbar-bg-color: #211919;
    --scrollbar-color: #1f1616;
    --sjtu-red-color: #a72139;
    --suesmc-blue-color: #31519d;
    --light-visible: 0;
    --dark-visible: 1;
}


:root {
    @include light;
}

:root.theme-dark{
    @include dark;
}

@media (prefers-color-scheme: dark) {
    :root:not(.theme-light) {
        @include dark;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --page-padding: 12%;
}

@media (max-width: 768px) {
    :root {
        --page-padding: 8%;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-bg-color);

    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color);
}

/* basic card */
.container.ant-btn,
.container {
    border-radius: 8px;
    width: 100%;
    height: auto;

    border: var(--primary-border-color) solid 1px;

    text-align: left;
    white-space: normal;
    overflow: hidden;
}

.basic-card {
    animation: floatUp 0.5s ease-out forwards;
}

.basic-card .card-content {
    padding: 16px 16px 6px 16px;
}

.basic-card .card-banner-img {
    position: relative;
    height: 17vh;
    width: 100%;
}

.basic-card .card-banner-img img {
    z-index: 0;
}

/* layout */
.lp-layout {
    min-height: 100vh !important;
}

.desktop {
    max-height: 100vh !important;
}

.main-layout {
    min-height: 100vh !important;
}

.main-layout .layout-header {
    position: sticky !important;
    padding: 0px var(--page-padding) 0px var(--page-padding) !important;
    height: 8vh !important;
    font-size: 18px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    display: flex;
    align-items: center;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    background-color: rgba(var(--secondary-bg-color) 0.8) !important;
    box-shadow: 0px 2px 10px var(--box-shadow-color);

    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: background, color, box-shadow;
    transition-duration: 0.2s;
}

.lp-layout .layout-header {
    position: relative;
    height: 25vh;

    display: none;
    @media (max-width: 1000px) {
        display: block;
    }
}

.layout-header img {
    z-index: 0;
}

.layout-sider {
    position: relative;
    
    @media (max-width: 1000px) {
        display: none;
    }
}

.bg-image-layer {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

.theme-background-image {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.theme-background-image > span {
    position: absolute !important;
    inset: 0 !important;
}

.theme-gradient-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 1;
    &.light-visible{
        opacity: var(--light-visible);
        $primary-bg-color: #fff;
        background: linear-gradient(
            to bottom,
            rgba(red($primary-bg-color), green($primary-bg-color), blue($primary-bg-color), 0) 70%,
            rgba(red($primary-bg-color), green($primary-bg-color), blue($primary-bg-color), 0.85) 90%,
            rgba(red($primary-bg-color), green($primary-bg-color), blue($primary-bg-color), 1) 100%
        );
    }
    &.dark-visible{
        opacity: var(--dark-visible);
        $primary-bg-color: #101614;
        background: linear-gradient(
            to bottom,
            rgba(red($primary-bg-color), green($primary-bg-color), blue($primary-bg-color), 0) 70%,
            rgba(red($primary-bg-color), green($primary-bg-color), blue($primary-bg-color), 0.85) 90%,
            rgba(red($primary-bg-color), green($primary-bg-color), blue($primary-bg-color), 1) 100%
        );
    }
}

.light-visible{
    opacity: var(--light-visible);
}
.dark-visible{
    opacity: var(--dark-visible);
}

.layout-content {
    padding: 0.5vh var(--page-padding) 4vh var(--page-padding) !important;
    overflow-y: auto;
    background-color: var(--primary-bg-color);

    .markdown-body-light,
    .markdown-body-dark,
    .markdown-body-light *,
    .markdown-body-dark * {
        background-color: unset;
    }
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: background, color;
    transition-duration: 0.2s;
}

.lp-layout .layout-content-desktop {
    padding: 8vh calc(0.2*var(--page-padding)) 8vh calc(0.2*var(--page-padding)) !important;
    overflow-y: auto;

    background-color: var(--primary-bg-color);
    border-left: 1px solid var(--primary-border-color);

    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: background, border-left, color;
    transition-duration: 0.2s;
}

.ant-layout-footer.layout-footer,
.layout-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 12px;

    color: var(--secondary-text-color);
    border-top: 1px solid var(--primary-border-color);

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: background, border-top, color;
    transition-duration: 0.2s;
}

/* nav-bar */
.navbar {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar .header-title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    color: var(--primary-text-color) !important;
    animation: fadeOut 0.2s ease-in-out forwards;
}
  
.navbar .header-title.visible {
    animation: fadeIn 0.2s ease-in-out forwards; 
}

/* article */
.page-content>* {
    animation: floatUp 0.5s ease-out;
}

/* home title */
.home-title-highlighted {
    color: var(--suesmc-blue-color) !important;
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
    animation-delay: 0.65s;
}

.home-title-normal {
    color: var(--secondary-text-color) !important;
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
    animation-delay: 0.25s;
}